<!-- public/views/nerd.html -->

<div class="jumbotron text-center">
    <h1>{{player.username}}</h1>
	
	<h2>Latest Stats</h2>
	
	<!--button ng-if="sessionbutton" ng-click="pull()">Pull Stats</button-->
    <table class="table">
		<thead>
			<tr>
				<th>Tank</th>
				<th>Battles</th>
				<th>Average Experience</th>
				<th>DPG</th>
				<th>Battles This Season</a></th>
				<th>Battles Required for Session Pull</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-left" ng:repeat="(tank,stats) in player.latest_stats">
				<td><img ng-src="{{tank | tankimage}}" alt="Description" />{{tank | tankname}}</td>
				<td>{{stats.battles}}</td>
				<td>{{stats.battle_avg_xp}}</td>
				<td>{{stats.dpg}}</td>
				<td>{{stats.seasonBattles}}</td>
				<td>{{stats.neededBattles}}</td>
			</tr>
		</tbody>
	</table>
	
	<h2>Sessions in Tanks</h2>
	
	<div ng-show="!(player.session_data).length" ng:repeat="(tank,stats) in player.session_data">
		<div class="container-fluid" ng:repeat="(sessionnum, session) in stats">
			<h3 class="text-left" ng-show="sessionnum == 0"><img ng-src="{{session.tankid | tankimage}}" alt="Description" />{{session.tankid | tankname}}</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-1">Session #</th>
					<th class="col-md-1">Battles</th>
					<th class="col-md-2">Average Experience</th>
					<th class="col-md-2">DPG</th>
					<th class="col-md-2">Winrate</th>
					<th class="col-md-2">Pull Time</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-left" ng:repeat="(sessionnum, session) in stats" ng-class="{success: session.isTop}">
					<td>{{sessionnum | sessionnumber}}</td>
					<td>{{session.battles}}</td>
					<td>{{session.epg}}</td>
					<td>{{session.dpg}}</td>
					<td>{{session.wr}}%</td>
					<td>{{session.date | date:'MMM-d h:mm a'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	<h2>Tank Ranks</h2>
	<h3>Total MoeScore: {{player.moescores.totalScore | number:2}}</h3>
	<div ng:repeat="(tank,data) in player.moescores.tanks">
		<h3 class="text-left"><img ng-src="{{tank | tankimage}}" alt="Description" />{{tank | tankname}}</h3>
		<h4 class="text-left">Score: {{data.total | number:2}}</h4>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-1">Metric</th>
					<th class="col-md-1">Rank</th>
					<th class="col-md-2">Resulting Score</th>
				</tr>
			</thead>

			<tbody>
				<tr class="text-left" ng:repeat="(metric, info) in data.stats" ng-class="{success: session.isTop}">
					<td>{{metric | metric}}</td>
					<td>{{info.rank}}</td>
					<td>{{info.moeScore | number:0}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>