<!-- public/views/nerd.html -->

<div class="jumbotron text-center">
    <h1>Tank Rankings This Season</h1>
	<h2>Rules:</h2>
	<p>{{rules.sessionMin}} games per session.</p>
	<p>{{rules.sessionsRequired}} sessions required for rank.</p>
	<div ng:repeat="stats in tanks">
		<table class="table">
			<div class="container-fluid">
					<h3 class="text-left"><img ng-src="{{stats.picture}}" alt="Description" />{{stats.image}}</h3>
			</div>

			<thead>
				
				<tr>
					<th class="col-md-1">Rank</th>
					<th class="col-md-3">Player</th>
					<th class="col-md-2">Tank MoeScore</th>
					<th class="col-md-1">Battles</th>
					<th class="col-md-2">Average Experience</th>
					<th class="col-md-2">DPG</th>
					<th class="col-md-1">Winrate</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-left" ng:repeat="(rank, data) in stats.moerank">
					<td>{{rank | sessionnumber}}</td>
					<td><a ng-href="/player/{{data.playerid}}">{{data.username}}</a></td>
					<td>{{data.moescore | number:2}}</td>
					<td>{{data.battles}}</td>
					<td>{{data.epg}}</td>
					<td>{{data.dpg}}</td>
					<td>{{data.wr}}%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>